.home{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04204);

    .chat{
        display: flex;
        min-height: 100vh;

        header{
            height: 60px;
            padding: 0 15px;
            border-bottom: 1px solid #F7F7F7;
        }

        .chat__sidebar{
            width: 320px;
            border-right: 1px solid #F7F7F7;

            .sidebar__header{
                display: flex;
                align-items: center;
                justify-content: space-between;

                .header-sidebar__title{
                    display: flex;
                    align-items: center;

                    & span:last-child{
                        margin-left: 7px;
                        opacity: 0.65;
                    }
                }
            }
            .sidebar__contacts{
                max-height: calc(100vh - 60px);
                .sidebar-contacts__search{
                    padding: 20px 20px 35px;

                    .ant-input-prefix{
                        margin-right: 6px;
                        opacity: 0.6;
                    }
                }
            }
        }
        .chat__dialog{
            flex: 1 1 0;

            .dialog__header{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                .header-dialog__user{
                    text-align: center;

                    strong{
                        display: block;
                        font-weight: 500;
                        margin-bottom: 4px;
                    }
                    .header-dialog__status{
                        opacity: 0.3;
                    }
                }
                .header-dialog__button{
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    transform: translateY(-50%);
                }
            }

            .dialog__messages{
                height: calc(100vh - 60px - 100px); 
                overflow: auto;

                .dialog__messages-wrapper{
                    padding: 30px 35px;
                }
            }
            .dialog__input{
                padding: 29px 35px 30px;
                border-top: 1px solid #F7F7F7;
            }
        }
    }
}