.dialog-input-wrapper{
    &.ant-input-affix-wrapper-focused{
        border-color:#E9E9E9;
        outline: none;
        box-shadow: none;
    }
    &.ant-input-affix-wrapper{
        &:focus,
        &:hover{
            border-color:#E9E9E9;
            outline: none;
            box-shadow: none;
        }
    }
    .ant-input-prefix{
        margin-right: 8px;
    }
    .ant-input-suffix{
        margin-left: 6px;
        .dialog-input__icon{
            margin: 0 6px;
        }
    }
    .dialog-input__icon{
        font-size: 20px;
        opacity: 0.5;
        cursor: pointer;
        transition: opacity 0.1s linear;

        &:hover{
            opacity: 0.85;
        }
    }
}